<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Programmering Eksamensprojekt</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="NavigateToHome" Match=" NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Help page">
                <span aria-hidden="true">?</span> Help page
            </NavLink>
        </div>
    </nav>
</div>
@* <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" href="#" @onclick="NavigateToHome">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="#" @onclick="NavigateToHelp">
                <span aria-hidden="true">?</span> Help page
            </a>
        </div>
    </nav>
</div>
 *@
@code {
    @inject NavigationManager NavManager
    
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void NavigateToHome()
    {
        NavManager.NavigateTo("/", forceLoad: true);
    }
    private void NavigateToHelp()
    {
        NavManager.NavigateTo("/help page", forceLoad: true);
    }
}
